html, body {
    width: 100%;
    height: 100vh;
    scrollbar-width: none;
    background-color: rgb(26, 24, 24);
}

body::-webkit-scrollbar {
    display: none;
}

body > .body-box {
    position: relative;
    top: 5em;
    margin-bottom: 2em;
}

h1, h2, h3, h4, p, a, label {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: white;
    line-height: 1.5em;
    margin: 0;
    width: 100%;
}

a {
    color: royalblue;
    text-decoration: none;
}

code {
    background-color: rgb(41, 41, 41);
    padding: 0.5em;
    border-radius: 5px;
}

.topbarFrame {
    background-color: #141414;
    width: 101%;
    height: 5rem;
    margin: -0.5rem;
    position: fixed;
    z-index: 1;
}

.topbarFrame-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    margin-right: 1em;
}

.topbarFrame-box .menu-button {
    display: none;
    cursor: pointer;
}

.topbarFrame ul {
    list-style: none;
    margin-right: 2rem;
    display: table-cell;
}

.topbarFrame ul li {
    display: inline-block;
    margin-left: 1rem;
}

.topbarFrame ul li a {
    color: gray;
    transition: 0.3s;
    font-size: 19px;
}

.topbarFrame ul li a:hover {
    color: white;
    transition: 0.3s;
}

.sidebar {
    background-color: #141414;
    margin: -0.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 7rem);
    bottom: 0;
    padding: 1em;
    text-align: center;
    position: fixed;
    z-index: 1;
    transform: translateX(100%);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 0.5em;
    font-size: 20px;
}

.sidebar ul li a {
    color: white;
}

.body-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.youtube-player {
    width: 560px;
    height: 315px;
}

.material-icons-round.md-white {
    color: white;
}

.material-icons-round.md-48 {
    font-size: 48px;
}

.banner-wrapper {
    width: 100%;
    padding: 1em;
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 2em;
}

br + .banner-wrapper {
    margin-top: 2em;
}

.banner-wrapper h3 {
    margin: 0;
}

.banner-wrapper p {
    text-align: left;
}

.info-wrapper {
    background-color: rgba(65, 105, 225, 0.1);
    border-left: royalblue solid 0.3em;
}

.warning-wrapper {
    background-color: rgba(255, 165, 0, 0.1);
    border-left: orange solid 0.3em;
}

.danger-wrapper {
    background-color: rgba(225, 0, 0, 0.1);
    border-left: red solid 0.3em;
}

.bottom-space {
    width: 0px;
    height: 50px;
}

@media (max-width: 480px) {
    body > .body-box {
        top: 7em;
    }
    
    .topbarFrame {
        background-color: #141414;
        height: 7rem;
    }

    .topbarFrame ul {
        display: none;
    }

    .topbarFrame-box .menu-button {
        display: block;
        margin-right: 20px;
    }

    .sidebar {
        display: flex;
    }

    .youtube-player {
        width: 90vw;
        height: 250px;
    }
}